$white-color: #fff;
$grey-background-color: #F7F6F4;
$light-grey-color: #E1E1E1;
$grey-color: #999999;
$dark-grey-color: #777777;
$black-color: #333333;
$green-color: #A7CF66;
$blue-color: #9CBCE3;
$dark-blue-color: #192F36;