@import "src/styles/index";

.link {
  margin-top: 60px;
  
  &__container {
    background-color: $white-color;
    width: 192px;
    height: 192px;
    font-size: 20px;
    font-weight: 600;
  }

  p {
    margin: 0 0 20px;
  }
}